.navbar {
    background-color: grey;
    background-position: top;
}

.navbar-brand img{
    max-width:70%;
    height:auto;
}

body {
    background-image: linear-gradient(to right, salmon, blue);
}

.masthead {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.master {
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

#agency {
    background-color: lightgoldenrodyellow;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#boxhome {
    float:none;
    margin:auto;
    padding-top: 25px;
}

.card {
    border: black;
    border-style: solid;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

#quote-area {
    background-color: white;
    padding: 50px;
}

.quotehome {
    min-height: 400px;
}

.quote {
    font-size: larger;
    padding: 25px;
    align-content: left;
}

.quote-body {
    height: 200px;
}